<ion-view view-title="Ajustes">
  <ion-content>
    <ion-list>

    <ion-item class="item-input item-stacked-label">
        RMV
        <span class="item-note item-note-left">{{ctrl.getAmount().RMVAmount | currency : "S/ " : 2}}</span>
        <input class="positive" type="text" placeholder="Monto" ng-model="ctrl.getAmount().RMVAmount" maxlength="15">
    </ion-item>

    <ion-item class="item-input item-stacked-label">
        UIT
        <span class="item-note item-note-left">{{ctrl.getAmount().UITAmount | currency : "S/ " : 2}}</span>
        <input class="positive" type="text" placeholder="Monto" ng-model="ctrl.getAmount().UITAmount" maxlength="15">
    </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
