<ion-view view-title="Ajustes">
  <ion-content>
    <ion-list>

    <ion-item class="item-input item-stacked-label">
        Remuneracion Mínima Vital
        <span class="item-note">{{ctrl.getAmounts().RMVAmount | currency : "S/ " : 2}}</span>
        <input class="positive" type="number" placeholder="Monto" ng-model="ctrl.getAmounts().RMVAmount" maxlength="15">
    </ion-item>

    <ion-item class="item-input item-stacked-label">
        Unidad Impositiva Tributaria
        <span class="item-note">{{ctrl.getAmounts().UITAmount | currency : "S/ " : 2}}</span>
        <input class="positive" type="number" placeholder="Monto" ng-model="ctrl.getAmounts().UITAmount" maxlength="15">
    </ion-item>

    </ion-list>
  </ion-content>

  <ion-footer-bar class="bar-balanced no-padding">
    <button class="button button-full button-balanced button-full-large no-margin" ng-click="ctrl.open('#/tab/salary')">
      Calcular Salario
    </button>
  </ion-footer-bar>
</ion-view>
