<ion-view view-title="Perfil">
  <ion-content>
    <ion-list>

      <ion-item class="item-input item-stacked-label">
        Sueldo Base
        <span class="item-note">{{ctrl.getAmounts().baseAmount | currency : "S/ " : 2}}</span>
        <input class="positive" type="number" placeholder="Monto" ng-model="ctrl.getAmounts().baseAmount" maxlength="15">
      </ion-item>

      <ion-item class="item-toggle">
        Asignacion Familiar
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-model="ctrl.getProfile().hasAF">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>

      <ion-item class="item-select">
        Pensión
        <select ng-options="pension.name for pension in ctrl.pensions.all track by pension.id" ng-model="ctrl.pensions.current">
        </select>
      </ion-item>

      <ion-item class="item-input item-stacked-label item-toggle">
        EPS
        <span class="item-note">{{ctrl.getAmounts().EPSAmount | currency : "S/ " : 2}}</span>
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-model="ctrl.getProfile().hasEPS">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
        <input class="positive" type="number" placeholder="Monto" ng-model="ctrl.getAmounts().EPSAmount" ng-show="ctrl.getProfile().hasEPS" maxlength="15">
      </ion-item>

    </ion-list>
  </ion-content>

  <ion-footer-bar class="bar-balanced no-padding">
    <button class="button button-full button-balanced button-full-large no-margin" ng-click="ctrl.open('#/tab/salary')">
      Calcular Salario
    </button>
  </ion-footer-bar>
</ion-view>
